In [1]:
%load_ext autoreload
%autoreload 2
# import copy
# import time
import sys  
sys.path.insert(0, '/data/geodyn_proj/pygeodyn/utils_pygeodyn/')

from pygeodyn_Control import pygeodyn_CONTROL

# pygeodyn_CONTROL.help_get_started_with_run()

In [2]:

#------ A dictionary containing the run parameters ------  
run_params = {} 
run_params['run_ID']           =  'Run_Arc_1'  
run_params['arc']              =  '030914_2wk'  
run_params['satellite']        =  'starlette'  
run_params['den_model']        =  'msis2'  
run_params['empirical_accels'] =  False  
run_params['SpecialRun_name']  =  '_developer_test'  
run_params['options_in']       =  {'DRHODZ_update':True}  
run_params['verbose']          =  False  


#------ Initialize the run Object ------ 
Obj_Geodyn = pygeodyn_CONTROL(run_params)

#------ Call the run fuction ------ 
# Obj_Geodyn.RUN_GEODYN()

In [3]:
%load_ext autoreload
%autoreload 2
# import copy
# import time
import sys  
sys.path.insert(0, '/data/geodyn_proj/pygeodyn/utils_pygeodyn/')

from pygeodyn_Read import pyGeodyn_Readers

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
run_params = {} 
run_params['run_ID']           =  'Run_Arc_1'  
run_params['arc']              =  [ '030914_2wk',
                                    '030928_2wk',
                                    '031012_2wk',
                                    '031026_2wk',
                                    '031109_2wk',
                                    '031123_2wk',
                                    '031207_2wk',
                                    '031221_2wk',
                                    ]  
run_params['satellite']        =  'starlette'  
run_params['den_model']        =  'msis2'  
run_params['empirical_accels'] =  False  
run_params['SpecialRun_name']  =  ''  
run_params['options_in']       =  {'DRHODZ_update':True}  
run_params['verbose']          =  False

In [5]:
Obj_data = pyGeodyn_Readers(run_params)

Calling pygeodyn with multiple arcs...

In [6]:
Obj_data.getData_All()

     File path:
     Loading /data/data_geodyn/results/st/msis2/msis2_acceloff/.../st030914_2wk.goco05s

     File path:
     Loading /data/data_geodyn/results/st/msis2/msis2_acceloff/.../st030928_2wk.goco05s

     File path:
     Loading /data/data_geodyn/results/st/msis2/msis2_acceloff/.../st031012_2wk.goco05s

     File path:
     Loading /data/data_geodyn/results/st/msis2/msis2_acceloff/.../st031026_2wk.goco05s

     File path:
     Loading /data/data_geodyn/results/st/msis2/msis2_acceloff/.../st031109_2wk.goco05s

     File path:
     Loading /data/data_geodyn/results/st/msis2/msis2_acceloff/.../st031123_2wk.goco05s

     File path:
     Loading /data/data_geodyn/results/st/msis2/msis2_acceloff/.../st031207_2wk.goco05s

     File path:
     Loading /data/data_geodyn/results/st/msis2/msis2_acceloff/.../st031221_2wk.goco05s

In [24]:
# import pickle 

# filehandler = open('object_density_all_arcs', 'wb') 
# pickle.dump(Obj_data, filehandler)
# filehandler.close()

# Reading the object from pickle:

In [36]:
# read the object in from a pickle

import pickle 
filehandler = open('object_density_all_arcs', 'rb') 
Obj_data_pkl = pickle.load(filehandler)
filehandler.close()

In [37]:
# the object has density in a dictionary of arcs:
Obj_data_pkl.Density.keys()

dict_keys(['030914_2wk', '030928_2wk', '031012_2wk', '031026_2wk', '031109_2wk', '031123_2wk', '031207_2wk', '031221_2wk'])

In [38]:
# looking at the first 2 week arc, the density is stored as a pandas dataframe
Obj_data_pkl.Density['030914_2wk']

,Date,Lat,Lon,Height (meters),rho (kg/m**3),drhodz (kg/m**3/m),X,Y,Z,XDOT,YDOT,ZDOT
0,2003-09-14 00:04:49,45.3666,279.6052,1084271.851,1.208392e-15,-4.410353e-21,284238.325,-5242756.034,5287659.009,6747.909093,-1766.174568,-1989.534266
1,2003-09-14 00:05:04,45.0256,280.6232,1085455.494,1.196143e-15,-4.352179e-21,385422.572,-5268680.638,5257243.799,6743.080999,-1690.383308,-2065.747590
2,2003-09-14 00:05:19,44.6746,281.6279,1086609.344,1.184166e-15,-4.295746e-21,486523.478,-5293465.889,5225689.005,6736.797450,-1614.263372,-2141.476143
3,2003-09-14 00:05:34,44.3139,282.6193,1087733.239,1.172434e-15,-4.240927e-21,587519.231,-5317106.975,5193002.014,6729.061126,-1537.830655,-2216.704849
4,2003-09-14 00:05:49,43.9437,283.5973,1088827.023,1.160952e-15,-4.187743e-21,688388.063,-5339599.324,5159190.434,6719.874965,-1461.101079,-2291.418751
...,...,...,...,...,...,...,...,...,...,...,...,...
161694,2003-09-28 02:42:49,7.8594,222.1546,1094445.820,1.984366e-15,-7.884243e-21,-121470.691,-7401788.013,1016036.439,4697.518161,-888.380458,-5433.552594
161695,2003-09-28 02:43:04,7.2238,222.6380,1095341.221,1.963793e-15,-7.779379e-21,-50997.384,-7414316.921,934426.506,4698.754258,-782.117286,-5447.575440
161696,2003-09-28 02:43:19,6.5877,223.1198,1096210.461,1.943611e-15,-7.676484e-21,19486.882,-7425250.882,852615.074,4698.979319,-675.724334,-5460.418765
161697,2003-09-28 02:43:34,5.9511,223.6001,1097053.392,1.923837e-15,-7.575608e-21,89966.945,-7434588.111,770619.850,4698.194018,-569.223389,-5472.080784
161698,2003-09-28 02:43:49,5.3141,224.0790,1097869.869,1.904464e-15,-7.476776e-21,160427.655,-7442327.153,688458.565,4696.399213,-462.636230,-5482.559929

In [39]:
# del Obj_data_pkl.Density['030914_2wk']['X']

In [40]:
Obj_data_pkl.Density['030914_2wk']

,Date,Lat,Lon,Height (meters),rho (kg/m**3),drhodz (kg/m**3/m),X,Y,Z,XDOT,YDOT,ZDOT
0,2003-09-14 00:04:49,45.3666,279.6052,1084271.851,1.208392e-15,-4.410353e-21,284238.325,-5242756.034,5287659.009,6747.909093,-1766.174568,-1989.534266
1,2003-09-14 00:05:04,45.0256,280.6232,1085455.494,1.196143e-15,-4.352179e-21,385422.572,-5268680.638,5257243.799,6743.080999,-1690.383308,-2065.747590
2,2003-09-14 00:05:19,44.6746,281.6279,1086609.344,1.184166e-15,-4.295746e-21,486523.478,-5293465.889,5225689.005,6736.797450,-1614.263372,-2141.476143
3,2003-09-14 00:05:34,44.3139,282.6193,1087733.239,1.172434e-15,-4.240927e-21,587519.231,-5317106.975,5193002.014,6729.061126,-1537.830655,-2216.704849
4,2003-09-14 00:05:49,43.9437,283.5973,1088827.023,1.160952e-15,-4.187743e-21,688388.063,-5339599.324,5159190.434,6719.874965,-1461.101079,-2291.418751
...,...,...,...,...,...,...,...,...,...,...,...,...
161694,2003-09-28 02:42:49,7.8594,222.1546,1094445.820,1.984366e-15,-7.884243e-21,-121470.691,-7401788.013,1016036.439,4697.518161,-888.380458,-5433.552594
161695,2003-09-28 02:43:04,7.2238,222.6380,1095341.221,1.963793e-15,-7.779379e-21,-50997.384,-7414316.921,934426.506,4698.754258,-782.117286,-5447.575440
161696,2003-09-28 02:43:19,6.5877,223.1198,1096210.461,1.943611e-15,-7.676484e-21,19486.882,-7425250.882,852615.074,4698.979319,-675.724334,-5460.418765
161697,2003-09-28 02:43:34,5.9511,223.6001,1097053.392,1.923837e-15,-7.575608e-21,89966.945,-7434588.111,770619.850,4698.194018,-569.223389,-5472.080784
161698,2003-09-28 02:43:49,5.3141,224.0790,1097869.869,1.904464e-15,-7.476776e-21,160427.655,-7442327.153,688458.565,4696.399213,-462.636230,-5482.559929

In [41]:

df_save = pd.DataFrame([])

for i,val in enumerate( Obj_data.Density ):
    print(i, val)
#     df = Obj_data.Density[val]
    del Obj_data_pkl.Density[val]['X']
    del Obj_data_pkl.Density[val]['Y']
    del Obj_data_pkl.Density[val]['Z']
    del Obj_data_pkl.Density[val]['XDOT']
    del Obj_data_pkl.Density[val]['YDOT']
    del Obj_data_pkl.Density[val]['ZDOT']
    del Obj_data_pkl.Density[val]['drhodz (kg/m**3/m)']

0 030914_2wk
1 030928_2wk
2 031012_2wk
3 031026_2wk
4 031109_2wk
5 031123_2wk
6 031207_2wk
7 031221_2wk

                      Date      Lat       Lon  Height (meters)  rho (kg/m**3)
0      2003-09-14 00:04:49  45.3666  279.6052      1084271.851   1.208392e-15
1      2003-09-14 00:05:04  45.0256  280.6232      1085455.494   1.196143e-15
2      2003-09-14 00:05:19  44.6746  281.6279      1086609.344   1.184166e-15
3      2003-09-14 00:05:34  44.3139  282.6193      1087733.239   1.172434e-15
4      2003-09-14 00:05:49  43.9437  283.5973      1088827.023   1.160952e-15
...                    ...      ...       ...              ...            ...
161694 2003-09-28 02:42:49   7.8594  222.1546      1094445.820   1.984366e-15
161695 2003-09-28 02:43:04   7.2238  222.6380      1095341.221   1.963793e-15
161696 2003-09-28 02:43:19   6.5877  223.1198      1096210.461   1.943611e-15
161697 2003-09-28 02:43:34   5.9511  223.6001      1097053.392   1.923837e-15
161698 2003-09-28 02:43:49   5.3141  224.0790      1097869.869   1.904464e-15

[161699 rows x 5 columns]